@media (prefers-color-scheme: dark) {
  :root {
    /* background colors */
    --main-body-background: #1a1a1b;
    --second-body-background: #030303;
    --claim-background: #1a1a1b;
    --testimonial-background: #1a1a1b;
    --accent-background: #505050;

    /* font colors */
    --main-font-color: #ffffff;
    --second-font-color: #817f97;
    --inverted-font-color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* background colors */
    --main-body-background: #f0eeee;
    --second-body-background: #ffffff;
    --claim-background: #264653;
    --testimonial-background: #2a9d8f;
    --accent-background: #335f70;

    /* font colors */
    --main-font-color: #264653;
    --second-font-color: #817f97;
    --inverted-font-color: #ffffff;
  }
}
