.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  font-family: Montserrat, sans-serif;
  color: #264653;
  font-size: 18px;
  line-height: 29px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 55px;
  line-height: 64px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #2a9d8f;
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 23px;
  line-height: 31px;
  font-weight: 300;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

p {
  margin-bottom: 20px;
}

a {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #fe4a49;
  text-decoration: underline;
}

a:hover {
  color: #fe4a49;
}

.mycontainer {
  position: static;
  z-index: auto;
  display: block;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.styletitle {
  margin: 20px 15px 30px;
  border-bottom: 1px solid #d4d4d4;
  font-size: 14px;
  text-transform: uppercase;
}

.flexcolwrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.flexcolwrap.inversecolors {
  padding-top: 26px;
  padding-bottom: 0px;
  background-color: #2a9d8f;
}

.flex2col {
  width: 50%;
  margin-bottom: 15px;
  padding: 10px 15px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.heading {
  font-size: 55px;
  line-height: 64px;
}

.stylename {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 0px none #d4d4d4;
  color: #d4d4d4;
  font-size: 14px;
  text-transform: uppercase;
}

.h2--claim-hero {
  color: #f7f7f9;
  font-size: 65px;
  line-height: 80px;
}

.small-p {
  margin-bottom: 10px;
  line-height: 25px;
  font-weight: 300;
}

.small-p.small-p--inverse {
  color: #f7f7f9;
}

.colorbox {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 25px;
}

.colorbox.cultured {
  width: 120px;
  height: 120px;
  margin-left: 0px;
  background-color: #f7f7f9;
}

.colorbox.charcoal {
  width: 120px;
  height: 120px;
  background-color: #264653;
}

.colorbox.persian-green {
  width: 120px;
  height: 120px;
  background-color: #2a9d8f;
}

.colorbox.tart-orange {
  width: 120px;
  height: 120px;
  background-color: #fe4a49;
}

.colorbox.rajah {
  width: 120px;
  height: 120px;
  background-color: #fea549;
}

.colorbox.orange-red {
  width: 120px;
  height: 120px;
  background-color: #f27127;
}

.colorbox.cerulean-crayola {
  width: 120px;
  height: 120px;
  background-color: #00a7e1;
}

.flex3col {
  width: 33.333%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.flex3col.textlinkcol {
  padding-top: 19px;
}

.cta-button {
  border-radius: 5px;
  background-color: #2a9d8f;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #f7f7f9;
  font-weight: 400;
  text-align: center;
}

.cta-button:hover {
  background-color: #fe4a49;
  color: #fff;
}

.cta-button.ghost-button {
  border-style: solid;
  border-width: 1px;
  border-color: #2a9d8f;
  background-color: transparent;
  color: #2a9d8f;
}

.cta-button.ghost-button:hover {
  border-color: #fe4a49;
  background-color: #f7f7f9;
  color: #fe4a49;
}

.cta-button.ghost-button.inverse-ghost {
  border-color: #fff;
  color: #fff;
}

.cta-button.ghost-button.inverse-ghost:hover {
  border-color: #fe4a49;
  background-color: #f7f7f9;
  color: #fe4a49;
}

.cta-button.inverse-button {
  background-color: #fff;
  color: #2a9d8f;
}

.cta-button.inverse-button:hover {
  background-color: #fe4a49;
  color: #f7f7f9;
}

.invese-link {
  color: #fff;
  font-size: 16px;
}

.invese-link:hover {
  color: #fe4a49;
}

.coldummycolor {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d4d4d4;
}

.popbg {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 500;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.77);
  opacity: 0;
}

.popwindow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 400px;
  padding: 17px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}

.hero {
  height: 700vh;
  background-color: #25bcca;
  color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.link {
  color: #2a9d8f;
}

.link:hover {
  color: #fe4a49;
}

.h1-logo-name--span2 {
  color: #2a9d8f;
}

.h1--logo-name-navbar {
  display: block;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #f7f7f9;
  font-size: 16px;
  font-weight: 500;
}

.h1--logo-name-navbar.logonamehero {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: #f7f7f9;
  font-size: 45px;
}

.brand {
  position: static;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #264653;
}

.brand:hover {
  color: #264653;
}

.section-navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 300;
  overflow: visible;
  background-color: transparent;
  -o-object-fit: none;
  object-fit: none;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.right-arrow {
  display: none;
}

.left-arrow {
  display: none;
}

.image {
  position: relative;
  z-index: 10;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider {
  width: 100%;
  height: 100vh;
  clear: none;
}

.mask {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 60;
}

.slide-main-claim {
  position: relative;
  z-index: 100;
  background-color: transparent;
  background-clip: border-box;
}

.slide__overvlay {
  position: relative;
  z-index: 20;
  display: block;
  width: 100%;
  height: 100%;
}

.div-block {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 50%;
}

.slide-2 {
  background-image: url('../images/bg-img-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-approach {
  position: relative;
  background-color: transparent;
  background-clip: border-box;
}

.slide-research {
  position: relative;
  background-color: transparent;
  background-clip: border-box;
}

.slide-concept {
  position: relative;
  background-color: transparent;
  background-clip: border-box;
}

.slide-build {
  position: relative;
  background-color: transparent;
  background-clip: border-box;
}

.hero-wrapper {
  position: relative;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: -360px;
  display: block;
  width: 100%;
  height: 20vh;
  margin-top: -30px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-span-2 {
  color: #2a9d8f;
}

.h1--logo-name-hero {
  position: static;
  display: block;
  color: #f7f7f9;
  font-size: 65px;
  text-align: left;
}

.mycontainer--logo-name-hero {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 50;
  display: block;
  width: 100%;
  max-width: 1100px;
  margin-top: 240px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slide-nav {
  z-index: 400;
  display: none;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.navbar--link {
  color: #f7f7f9;
  font-size: 16px;
  font-weight: 200;
}

.navbar--link:hover {
  background-color: #2a9d8f;
  color: #f7f7f9;
}

.navbar--link.w--current {
  background-color: #2a9d8f;
  color: #f7f7f9;
}

.h2--section-header {
  color: #2a9d8f;
}

.heading-2 {
  color: #2a9d8f;
}

.menu-button {
  position: static;
  z-index: 200;
}

.hero-background {
  position: static;
  z-index: 10;
  display: block;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/TeamWorkshop.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/TeamWorkshop.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-2 {
  overflow: visible;
  width: 100%;
  height: 70vh;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: 125px;
  -o-object-fit: cover;
  object-fit: cover;
}

.nav-menu {
  position: static;
}

.services-type--item {
  margin-top: 20px;
}

.fa-service-icon {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Fa solid 900', sans-serif;
  color: #fe4a49;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}

.section-who-we-are {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f7f7f9;
}

.what-we-do__description {
  margin-bottom: 20px;
}

.what-we-do__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.what-we-do__item:hover {
  background-color: #f7f7f9;
}

.team-member-left {
  text-align: center;
}

.team-member-name {
  margin-bottom: -15px;
}

.h2--section-header-invert {
  color: #f7f7f9;
}

.section-footer {
  height: 40vh;
  background-color: #264653;
}

.text-span-3 {
  color: #2a9d8f;
}

.text-span-4 {
  color: #fe4a49;
}

.span-tart-orange {
  color: #fe4a49;
}

.text-block {
  color: #f7f7f9;
}

.copyright {
  color: #f7f7f9;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.h5-section-footer {
  color: #f7f7f9;
}

.invese-link-small {
  display: block;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.invese-link-small:hover {
  color: #fe4a49;
}

.hero-training {
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  height: 45vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url('../images/Brickwall-Training-2400.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../images/Brickwall-Training-2400.jpg');
  background-position: 0px 0px, 50% 100%;
  background-size: auto, cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.section {
  display: block;
}

.hero-wrapper-sub {
  position: relative;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: -360px;
  display: block;
  width: 100%;
  height: 20vh;
  margin-top: 140px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero-innovation {
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  height: 45vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.58)), to(rgba(0, 0, 0, 0.58))), url('../images/Problem2ValueHero2.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)), url('../images/Problem2ValueHero2.jpg');
  background-position: 0px 0px, 100% 38%;
  background-size: auto, cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero-staffing {
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  height: 45vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url('../images/Programming-Staffing-2400.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../images/Programming-Staffing-2400.jpg');
  background-position: 0px 0px, 50% 100%;
  background-size: auto, cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.team-member-right {
  text-align: center;
}

.h1--logo-name-footer {
  display: block;
  margin-top: 10px;
  margin-bottom: -10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #f7f7f9;
  font-size: 16px;
  font-weight: 500;
}

.h1--logo-name-footer.logonamehero {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: #f7f7f9;
  font-size: 45px;
}

.h3--inverse {
  color: #f7f7f9;
}

.h2--inverse {
  color: #f7f7f9;
}

.h1-inverse {
  color: #f7f7f9;
}

.h4--inverse {
  color: #f7f7f9;
}

.h5-inverse {
  color: #f7f7f9;
}

.p-inverse {
  color: #f7f7f9;
}

.section-2 {
  position: static;
}

.section-training {
  position: static;
  margin-top: 70px;
  margin-bottom: 70px;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-3 {
  position: static;
}

.section-hero-sub {
  height: 45vh;
}

.text-block-2 {
  color: #f7f7f9;
  font-size: 12px;
  line-height: 20px;
}

.text-span-5 {
  font-size: 12px;
}

.facilitation__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.facilitation__item:hover {
  background-color: #f7f7f9;
}

.section-staffing {
  position: static;
  margin-top: 70px;
  margin-bottom: 70px;
  -o-object-fit: fill;
  object-fit: fill;
}

.hero-contact {
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  height: 45vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url('../images/Contact-Hello.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../images/Contact-Hello.jpg');
  background-position: 0px 0px, 100% 58%;
  background-size: auto, cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-2 {
  height: 50px;
}

.image-3 {
  overflow: visible;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-credit {
  position: static;
}

.image-credit__text {
  position: static;
  padding: 15px;
  background-color: #2a9d8f;
  color: #f7f7f9;
  font-size: 14px;
  text-align: center;
}

.image-credit__links {
  color: #f7f7f9;
}

.hero-impressum {
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  height: 45vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url('../images/dmitrij-paskevic-YjVa-F9P9kk-unsplash.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../images/dmitrij-paskevic-YjVa-F9P9kk-unsplash.jpg');
  background-position: 0px 0px, 50% 100%;
  background-size: auto, cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.h2-span-impressum {
  font-family: 'Fa solid 900', sans-serif;
  color: #2a9d8f;
  text-decoration: underline;
}

.link-2 {
  font-family: 'Fa solid 900', sans-serif;
  text-decoration: underline;
}

.hero-privacy {
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  height: 45vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url('../images/matthew-henry-fPxOowbR6ls-unsplash.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../images/matthew-henry-fPxOowbR6ls-unsplash.jpg');
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.textarea {
  max-height: 800px;
  max-width: 100%;
  min-height: 200px;
}

.h1--logo-name-contact {
  margin-bottom: 0px;
  font-size: 30px;
}

.grid-2 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-4 {
  width: 60%;
  height: 60%;
}

.image-5 {
  width: 60%;
  height: 60%;
}

.hero-contact-success {
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  height: 60vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url('../images/success.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../images/success.jpg');
  background-position: 0px 0px, 100% 40%;
  background-size: auto, cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-hero-sub-result {
  height: 60vh;
  margin-bottom: -20px;
}

.hero-wrapper-sub-result {
  position: relative;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: -360px;
  display: block;
  width: 100%;
  height: 20vh;
  margin-top: 240px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex1col {
  width: 100%;
  margin-bottom: 15px;
  padding: 0px;
}

.flexcolwrap--hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.flexcolwrap--hero.inversecolors {
  padding-top: 26px;
  padding-bottom: 0px;
  background-color: #2a9d8f;
}

.block-quote {
  border-left-width: 3px;
  border-left-color: #fe4a49;
}

.field-label {
  font-size: 16px;
}

.field-label-2 {
  font-size: 16px;
}

.cta-button-spacing {
  margin-top: 20px;
}

.flex2col-bg {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #2a9d8f;
}

.field-labell--inverse {
  color: #f7f7f9;
  font-size: 16px;
  font-weight: 400;
}

.section-training-bg {
  position: static;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f27127;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-6 {
  border-radius: 20px;
}

.list {
  color: #f7f7f9;
  line-height: 24px;
  list-style-type: disc;
}

.grid-3 {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-block-3 {
  width: 50%;
}

.text-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Fa solid 900', sans-serif;
  color: #00a7e1;
  font-size: 100px;
}

@media screen and (max-width: 991px) {
  .menu-button {
    color: #f7f7f9;
  }
  .menu-button.w--open {
    background-color: #2a9d8f;
  }
  .nav-menu {
    background-color: #2a9d8f;
  }
}

@media screen and (max-width: 767px) {
  .flexcolwrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex2col {
    width: 100%;
  }
  .colorbox {
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  .colorbox.cultured {
    margin-left: 10px;
  }
  .flex3col {
    width: 100%;
  }
  .flex1col {
    width: 100%;
  }
  .flexcolwrap--hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex2col-bg {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 35px;
    line-height: 38px;
  }
  h2 {
    font-size: 30px;
    line-height: 33px;
  }
  h3 {
    font-size: 25px;
    line-height: 31px;
  }
  h4 {
    font-size: 21px;
    line-height: 26px;
  }
  h5 {
    font-size: 16px;
    line-height: 22px;
  }
  p {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 25px;
  }
  a {
    font-size: 15px;
  }
  .small-p {
    font-size: 13px;
    line-height: 22px;
  }
  .cta-button {
    font-size: 15px;
  }
}

@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fa-regular-400.woff') format('woff'), url('../fonts/fa-regular-400.ttf') format('truetype'), url('../fonts/fa-regular-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fa-brands-400.woff') format('woff'), url('../fonts/fa-brands-400.ttf') format('truetype'), url('../fonts/fa-brands-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fa-solid-900.ttf') format('truetype'), url('../fonts/fa-solid-900.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}