:root {
  --light-sea-green: #2a9d8f;
  --slate-grey: #817f97;
  --dark-slate-grey: #264653;
  --white-smoke: #f0eeee;
  --deep-sky-blue: #00a8e7;
  --tomato: #fe4a49;
  --burntsienna: #db7363;
  --sandy-brown: #f5b461;
  --light-grey: lightgrey;
  --dark-slate-grey-lighter: #335f70;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

p {
  margin-bottom: 10px;
}

a {
  color: var(--light-sea-green);
  text-decoration: underline;
}

.heading-dark {
  color: #fff;
  margin-bottom: 20px;
  font-size: 64px;
  font-weight: 400;
  line-height: 70px;
}

.container-hero {
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  font-weight: 400;
  display: flex;
}

.grid-hero {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: grid;
}

.hero-left {
  align-items: center;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.paragraph {
  color: var(--slate-grey);
  font-size: 20px;
  line-height: 25px;
}

.our-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 1880px;
  margin: 40px auto;
  padding: 60px 30px;
  display: flex;
}

.hero-right {
  width: auto;
}

.body {
  background-color: var(--white-smoke);
  color: var(--dark-slate-grey);
  font-family: Barlow Semi Condensed, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.p2v-claim {
  text-align: center;
  font-size: 45px;
  line-height: 50px;
}

.container-hero-inner {
  justify-content: center;
  max-width: 1880px;
  display: flex;
}

.container-p2v-claim {
  justify-content: center;
  width: 90%;
  display: flex;
}

.image-modules {
  width: 50%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.p2v-claim-description {
  text-align: left;
  flex: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
}

.container-p2v-services {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 40px;
  display: flex;
}

.section-header {
  text-align: center;
  padding-bottom: 20px;
  font-size: 64px;
  font-weight: 500;
  line-height: 70px;
}

.section-subheader {
  text-align: center;
  flex: 0 auto;
  width: 90%;
  margin-top: 10px;
  font-size: 25px;
  line-height: 30px;
}

.service-item {
  flex-direction: column;
  max-width: 450px;
  display: flex;
}

.service-item-header {
  border-radius: 20px 20px 0 0;
  justify-content: center;
  padding: 20px;
  display: flex;
}

.service-item-header.ml0 {
  background-color: var(--deep-sky-blue);
}

.service-item-header.ml1 {
  background-color: #db7363;
}

.service-item-header.ml2 {
  background-color: #f5b461;
}

.service-item-header.ml3 {
  background-color: #2a9d8f;
}

.service-item-duration {
  display: flex;
}

.grid-services {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  border-radius: 20px 20px 0 0;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.service-item-content {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  flex-direction: column;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pill-text {
  color: var(--dark-slate-grey);
  padding: 0 20px;
  font-size: 20px;
  line-height: 40px;
  display: flex;
}

.service-name {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.cta-claim-container {
  background-color: var(--dark-slate-grey);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 30px;
  display: flex;
}

.cta-claim {
  color: #fff;
  text-align: center;
  width: 70%;
  font-size: 50px;
  font-weight: 300;
  line-height: 65px;
}

.cta-claim.cta {
  padding-bottom: 20px;
}

.cta-button {
  background-color: var(--tomato);
  border-radius: 15px;
  margin: 20px;
  text-decoration: none;
}

.cta-button-label {
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
  line-height: 50px;
  text-decoration: none;
}

.training-image {
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
}

.training-benefits {
  grid-template-rows: auto;
  grid-template-columns: 40% 60%;
  margin-top: 100px;
}

.checkbox-text {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}

.checkbox-image {
  width: 25px;
  height: 25px;
}

.training-benefits-heading {
  text-align: center;
  margin-top: 0;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 45px;
  font-weight: 400;
  line-height: 50px;
}

.principles-grid {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  max-width: 1880px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 30px 40px;
  display: block;
}

.principles {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #2e2f32;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  align-self: stretch;
}

.principle {
  margin: 0;
}

.principle-header {
  text-align: center;
  height: 40px;
  padding: 20px 50px 10px;
  font-size: 40px;
  line-height: 50px;
}

.principle-header.left-top {
  background-color: var(--deep-sky-blue);
}

.principle-header.right-top {
  background-color: var(--burntsienna);
  border-top-right-radius: 20px;
}

.principle-header.left-bottom {
  background-color: var(--sandy-brown);
}

.principle-header.right-bottom {
  background-color: var(--light-sea-green);
}

.principle-description {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 20px 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.training-benefits-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.training-benefits-item {
  display: flex;
}

.training-benefits-checkbox {
  flex: none;
  align-items: flex-start;
  padding: 5px 0 15px 15px;
  display: flex;
}

.training-benefits-description {
  padding: 0 15px 15px;
}

.testimonial-header {
  border-radius: 20px 20px 0 0;
  justify-content: space-between;
  padding-bottom: 20px;
  display: flex;
}

.testimonial-content {
  border-radius: 20px;
}

.testimonial-detail {
  margin-top: 20px;
}

.testimonial-header-wrapper {
  width: 100%;
  display: flex;
}

.testimonial-person {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.testimonial-person-detail {
  margin: 10px;
}

.testimonial-person-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.testimonial-description {
  white-space: normal;
  font-size: 18px;
  line-height: 24px;
}

.testimonial {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 1px 1px 3px #000;
}

.testimonial-person-header {
  color: var(--slate-grey);
  font-weight: 400;
  line-height: 20px;
}

.testimonial-linkedin {
  flex-direction: row;
  justify-content: space-between;
}

.testimonial-profile {
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  display: flex;
}

.testimonials {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-wrap: wrap;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: space-between;
  justify-content: center;
  display: grid;
}

.section-header-testimonials {
  text-align: left;
  padding-bottom: 20px;
  font-size: 35px;
  font-weight: 400;
  line-height: 50px;
}

.nav-logo-link {
  align-items: center;
  height: 70px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: flex;
}

.nav-logo-link.w--current {
  align-items: center;
  height: 70px;
  display: flex;
}

.nav-logo {
  object-position: 0% 50%;
  height: 40px;
  display: block;
}

.claim-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1150px;
  display: flex;
}

.our-container-menu {
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.blog-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.blog-item {
  border-radius: 20px;
  flex-direction: column;
  text-decoration: none;
  display: flex;
  box-shadow: 0 1px 9px #414040;
}

.blog-item-header {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  justify-content: center;
  height: 350px;
  padding: 20px;
  display: flex;
}

.blog-item-content {
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.blog-item-date {
  display: flex;
}

.pill-button {
  background-color: var(--light-grey);
  border-radius: 15px;
  margin: 20px 40px 20px 20px;
}

.blog-item-title {
  color: var(--dark-slate-grey);
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.blog-teaser {
  color: var(--slate-grey);
  margin: 20px;
  font-size: 24px;
  line-height: 30px;
}

.blog-image {
  width: 100%;
  height: 100%;
}

.blog-image._2021-04 {
  background-image: url('../images/nodevices.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
}

.blog-image._2021-04-2 {
  background-image: url('../images/thumbnail-homeoffice.png');
  background-size: auto 100%;
}

.blog-image._2021-01 {
  background-image: url('../images/blog-ideaspectrum.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.blog-image._2020-02 {
  background-image: url('../images/blog-ddfocusarea.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.blog-image._2019-09 {
  background-image: url('../images/blog-3hsobsolete.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 110%;
}

.blog-image._2019-06 {
  background-image: url('../images/lgdolearnloops.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.blog-image._2019-01 {
  background-image: url('../images/blog-onepagesoptions.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.blog-image._2018-08 {
  background-image: url('../images/blog-qsproblemsolutionspace.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.blog-image._2017-12 {
  background-image: url('../images/productjourney.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.blog-image._2017-10 {
  background-image: url('../images/blog-innovationspectrum.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.blog-image._2021-10 {
  background-image: url('../images/Blog-WebFlow.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.our-footer {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 30px;
  display: flex;
}

.footer-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: var(--light-grey);
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

.footer-legal-wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer-legal-item-text {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-decoration: none;
}

.footer-legal-items {
  margin-top: 20px;
  display: flex;
}

.footer-legal-item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

.footer-item-devider {
  border-right: 1px solid var(--light-grey);
}

.footer-item-devider-wrapper {
  border-right: 1px solid var(--light-grey);
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-items {
  padding-left: 30px;
  padding-right: 30px;
}

.footer-item-link {
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
}

.footer-items-header {
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.footer-logo-image {
  width: 200px;
}

.footer-grid {
  grid-template-rows: auto;
  grid-template-columns: 2.5fr 1fr;
  width: 100%;
}

.footer-legal-item-linkedin {
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.section-header-white {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 64px;
  font-weight: 300;
  line-height: 80px;
}

.p-privacy {
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.list-item-privacy {
  text-align: left;
  font-weight: 300;
  line-height: 28px;
}

.list-privacy {
  list-style-type: disc;
}

.section-hero-sub {
  background-color: var(--dark-slate-grey);
  object-fit: cover;
  justify-content: center;
  align-items: center;
  height: 360px;
  display: flex;
}

.hero-sub {
  z-index: 10;
  object-fit: cover;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 360px;
  min-height: 360px;
  display: block;
  position: absolute;
}

.hero-wrapper-sub {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;
  display: block;
}

.mycontainer {
  z-index: auto;
  justify-content: space-between;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.heading-privacy4 {
  text-align: left;
}

.impressum {
  flex-direction: row;
  justify-content: center;
  width: 100%;
  display: flex;
}

.fake-button-red-menu {
  background-color: var(--tomato);
  border-radius: 15px;
  margin-left: 20px;
  text-decoration: none;
}

.button-text-white-menu {
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
}

.button-text-white-menu.ml {
  padding-left: 0;
}

.navbar {
  z-index: 9999;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-menu {
  align-items: center;
  display: flex;
}

.navbar-item {
  color: var(--dark-slate-grey);
  align-self: stretch;
  align-items: center;
  display: flex;
}

.navbar-item.w--current {
  color: var(--dark-slate-grey-lighter);
  font-weight: 600;
}

.p-dark {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
}

.hero-right-blog {
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-article-text {
  width: 70%;
}

.blog-article-title {
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
}

.blog-article-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 45px;
}

.blog-p {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 25px;
  line-height: 35px;
}

.blog-article-subheading {
  font-size: 30px;
  line-height: 40px;
}

.blog-article-image {
  width: 80%;
  max-width: 1400%;
  margin-bottom: 40px;
}

.blog-article-image.blog-image-80 {
  width: 60%;
}

.blog-article-image.blog-image-smaller {
  width: 40%;
}

.problem-process-services {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 0;
}

.our-testimonials-container {
  background-color: var(--light-sea-green);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 30px;
  display: flex;
}

.principles-left {
  background-color: #1a1c20;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.principle-name-title {
  color: #fff;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.div-block-4 {
  margin: 60px;
}

.logo-dark {
  height: 40px;
}

.principle-description-p {
  color: var(--white-smoke);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.service-item-image {
  width: 150px;
  height: 150px;
}

.grid-problem-process {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  width: 100%;
  max-width: 1440px;
}

.blog-home-thumbnail {
  background-color: #fff;
  justify-content: center;
  height: 400px;
  padding: 20px;
  display: flex;
}

.blog-home-content {
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  display: flex;
}

.blog-home-item {
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0 1px 9px #414040;
}

.blog-home-detail {
  text-decoration: none;
}

.blog-home-title-wrapper {
  color: var(--dark-slate-grey);
}

.blog-home-title {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}

.blog-home-teaser {
  color: var(--slate-grey);
  margin: 20px;
  font-size: 24px;
  line-height: 35px;
}

.list-services {
  color: var(--slate-grey);
  margin-top: 20px;
  padding-right: 20px;
}

.li-services {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 35px;
}

.image-label {
  color: var(--slate-grey);
  text-align: center;
  font-size: 16px;
}

.training-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 40% 60%;
  grid-auto-columns: 1fr;
  display: grid;
}

.training-blurp {
  text-align: left;
  flex: 0 auto;
  margin-top: 40px;
  font-size: 25px;
  line-height: 30px;
}

.our-container-principles {
  background-color: #0e0f12;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 707vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.blog-home-featured {
  text-decoration: none;
}

.blog-home-featured-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.blog-home-featured-label {
  color: var(--slate-grey);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 35px;
}

.blog-article-date {
  color: var(--light-sea-green);
  font-weight: 600;
}

.blog-article-image-credits {
  color: var(--slate-grey);
  margin-top: -30px;
  margin-bottom: 20px;
  font-weight: 400;
}

.blog-article-list-item {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 35px;
}

.blog-article-list {
  padding-left: 30px;
}

.ml0-icon {
  color: var(--deep-sky-blue);
  font-weight: 600;
}

.ml1-icon {
  color: var(--burntsienna);
  font-weight: 600;
}

.ml2-icon {
  color: var(--sandy-brown);
  font-weight: 600;
}

.ml3-icon {
  color: var(--light-sea-green);
  font-weight: 600;
}

.navbar-article {
  top: 0;
}

.back-to-article-list {
  align-items: center;
  text-decoration: none;
  display: flex;
}

.back-to-label {
  color: var(--dark-slate-grey);
  padding-left: 10px;
}

.references {
  width: 90%;
  margin-top: 60px;
}

.ref-p {
  font-size: 18px;
  line-height: 30px;
}

.blog-p-quote {
  border-left: 5px solid var(--dark-slate-grey);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 25px;
  line-height: 35px;
}

.service-item-ml {
  width: 100%;
}

.heading-light {
  margin-bottom: 20px;
  font-size: 64px;
  font-weight: 400;
  line-height: 70px;
}

.ml-name {
  font-weight: 600;
}

.our-container-training {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 1880px;
  margin: 40px auto;
  padding: 60px 30px;
  display: none;
}

.our-container-stages {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 1880px;
  margin: 40px auto;
  padding: 60px 30px;
  display: flex;
}

.bodyclosing {
  color: #fff;
  text-align: center;
  background-color: #0e0f12;
  font-family: Barlow Semi Condensed, sans-serif;
}

.div-block-6 {
  flex-flow: column;
  align-items: stretch;
  display: flex;
}

.div-block-7 {
  margin-top: 140px;
  position: static;
}

.div-block-8 {
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .grid-hero {
    grid-template-columns: 1fr 1fr;
  }

  .service-item {
    flex-direction: column;
  }

  .grid-services {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .service-item-detail {
    flex-direction: column;
  }

  .principle {
    background-color: rgba(0, 0, 0, 0);
  }

  .testimonials {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .our-container-menu {
    width: 1150px;
  }
}

@media screen and (min-width: 1920px) {
  .our-container {
    color: var(--dark-slate-grey);
  }

  .grid-services {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-rows: auto;
  }

  .principles {
    grid-template-columns: 1fr 1fr;
    width: auto;
  }

  .principle-header {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonials {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    width: 1400px;
  }

  .our-container-menu {
    width: 1880px;
  }

  .blog-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .our-container-training, .our-container-stages {
    color: var(--dark-slate-grey);
  }
}

@media screen and (max-width: 991px) {
  .heading-dark {
    font-size: 50px;
    line-height: 60px;
  }

  .grid-hero {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
  }

  .our-container {
    width: auto;
    padding: 20px 0 0;
  }

  .p2v-claim {
    font-size: 40px;
    line-height: 45px;
  }

  .container-p2v-claim {
    width: auto;
  }

  .image-modules {
    width: 80%;
  }

  .container-p2v-services {
    width: 90%;
  }

  .section-header {
    font-size: 50px;
    line-height: 60px;
  }

  .section-subheader {
    width: auto;
    font-size: 22px;
    line-height: 35px;
  }

  .service-item-header.ml0, .service-item-header.ml1, .service-item-header.ml2, .service-item-header.ml3 {
    border-radius: 0;
  }

  .grid-services {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
    margin-right: 0;
  }

  .service-item-content {
    border-radius: 0;
  }

  .cta-claim {
    width: 90%;
  }

  .training-benefits {
    grid-template-columns: 1fr;
  }

  .principles-grid {
    grid-template-columns: 1fr;
    padding-left: 10px;
    padding-right: 10px;
  }

  .principles {
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    grid-template-columns: 50% 50%;
    width: auto;
  }

  .principle-header {
    font-size: 30px;
    line-height: 40px;
  }

  .principle-header.right-top {
    border-top-right-radius: 0;
  }

  .principle-description {
    padding-left: 20px;
    padding-right: 20px;
  }

  .testimonial-item {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .testimonial {
    margin-left: 10px;
    margin-right: 10px;
  }

  .testimonials {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
  }

  .nav-logo {
    height: 25px;
  }

  .claim-wrapper {
    width: auto;
  }

  .our-container-menu {
    width: 760px;
  }

  .blog-grid {
    grid-template-columns: 1fr;
  }

  .section-header-white {
    font-size: 50px;
    line-height: 60px;
  }

  .section-hero-sub {
    height: 240px;
  }

  .menu-button {
    align-self: center;
  }

  .hero-right-blog {
    display: none;
  }

  .blog-article-text {
    width: 100%;
  }

  .blog-article-title {
    font-size: 50px;
    line-height: 65px;
  }

  .blog-article-heading {
    font-size: 30px;
    line-height: 40px;
  }

  .blog-p {
    font-size: 22px;
  }

  .blog-article-image {
    width: 100%;
  }

  .blog-article-image.blog-image-smaller {
    width: 80%;
  }

  .principles-left {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  }

  .service-item-image {
    width: 50px;
    height: 50px;
  }

  .grid-problem-process {
    grid-template-columns: 1fr;
  }

  .blog-home-item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .training-wrapper {
    grid-template-columns: auto;
  }

  .training-blurp {
    width: auto;
    margin-top: 0;
    font-size: 22px;
    line-height: 35px;
  }

  .our-container-principles {
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .blog-article-date {
    font-size: 16px;
  }

  .blog-article-list-item {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .blog-p-quote {
    font-size: 22px;
  }

  .heading-light {
    font-size: 50px;
    line-height: 60px;
  }

  .our-container-training {
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .our-container-stages {
    width: auto;
    margin-bottom: 0;
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .heading-dark {
    font-size: 45px;
    line-height: 50px;
  }

  .p2v-claim {
    font-size: 35px;
    line-height: 40px;
  }

  .p2v-claim-description {
    font-size: 20px;
    line-height: 25px;
  }

  .pill-text {
    font-size: 18px;
    line-height: 30px;
  }

  .service-name {
    font-size: 25px;
    line-height: 30px;
  }

  .cta-claim {
    font-size: 45px;
    line-height: 50px;
  }

  .cta-button-label {
    font-size: 22px;
    font-weight: 300;
    line-height: 40px;
  }

  .training-image {
    padding-left: 10px;
    padding-right: 10px;
  }

  .checkbox-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
  }

  .checkbox-image {
    width: 30px;
  }

  .training-benefits-heading {
    margin-left: 0;
    margin-right: 0;
  }

  .principle-description {
    padding-left: 10px;
    padding-right: 10px;
  }

  .training-benefits-checkbox {
    padding-left: 0;
  }

  .training-benefits-description {
    padding-left: 0;
    padding-right: 0;
  }

  .our-container-menu {
    width: auto;
  }

  .footer-grid {
    grid-template-columns: 2.5fr;
  }

  .fake-button-red-menu {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .menu-button.w--open {
    align-self: stretch;
  }

  .navbar-item {
    justify-content: center;
  }

  .principle-name-title {
    padding-left: 0;
    padding-right: 0;
  }

  .blog-article-list {
    padding-left: 10px;
  }

  .blog-p-quote {
    border-left-width: 2px;
  }

  .heading-light {
    font-size: 45px;
    line-height: 50px;
  }
}

@media screen and (max-width: 479px) {
  .heading-dark {
    font-size: 40px;
    line-height: 45px;
  }

  .hero-left {
    padding-left: 10px;
    padding-right: 10px;
  }

  .our-container {
    margin-top: 0;
    padding: 20px 10px;
  }

  .p2v-claim {
    font-size: 30px;
    line-height: 35px;
  }

  .image-modules {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .service-item-header.ml0, .service-item-header.ml1, .service-item-header.ml2, .service-item-header.ml3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .grid-services {
    grid-template-columns: 1fr;
  }

  .service-name {
    margin-left: 10px;
    margin-right: 10px;
  }

  .cta-claim-container {
    padding: 40px 10px;
  }

  .cta-claim {
    width: auto;
    font-size: 40px;
    line-height: 45px;
  }

  .training-image {
    padding-top: 20px;
  }

  .training-benefits {
    margin-bottom: 20px;
  }

  .checkbox-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .checkbox-image {
    width: 25px;
  }

  .training-benefits-heading {
    font-size: 30px;
    line-height: 40px;
  }

  .principles-grid {
    padding: 40px 0;
  }

  .principles {
    grid-template-columns: auto;
  }

  .principle {
    margin-left: 0;
    margin-right: 0;
  }

  .principle-header {
    height: 10px;
    font-size: 25px;
    line-height: 30px;
  }

  .principle-header.left-top, .principle-header.right-top, .principle-header.left-bottom, .principle-header.right-bottom {
    height: 20px;
  }

  .principle-description {
    font-size: 20px;
    line-height: 25px;
  }

  .training-benefits-checkbox {
    display: none;
  }

  .training-benefits-description {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .testimonial-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .testimonial {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .testimonial-linkedin {
    align-self: flex-start;
  }

  .testimonials {
    align-self: stretch;
    display: flex;
  }

  .section-header-testimonials {
    padding-bottom: 10px;
    font-size: 25px;
    line-height: 40px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .our-container-menu {
    padding-left: 10px;
    padding-right: 10px;
  }

  .our-footer {
    padding-bottom: 10px;
  }

  .footer-copyright {
    font-size: 12px;
  }

  .footer-legal-item-text {
    font-size: 12px;
    line-height: 18px;
  }

  .footer-legal-items {
    justify-content: center;
  }

  .footer-legal-item {
    padding-left: 5px;
    padding-right: 5px;
  }

  .linkedin-link {
    margin-left: 10px;
  }

  .section-header-white {
    margin-top: 20px;
    font-size: 30px;
    line-height: 40px;
  }

  .p-privacy {
    font-size: 14px;
    line-height: 18px;
  }

  .list-item-privacy {
    font-size: 13px;
    line-height: 22px;
  }

  .list-privacy {
    padding-left: 20px;
  }

  .section-hero-sub {
    height: 220px;
  }

  .hero-sub {
    height: 260px;
    min-height: 260px;
  }

  .hero-wrapper-sub {
    margin-top: 80px;
  }

  .blog-article-text {
    padding-left: 5px;
    padding-right: 5px;
  }

  .blog-article-title {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
  }

  .blog-article-heading {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 25px;
  }

  .blog-p {
    padding-bottom: 0;
    font-size: 18px;
    line-height: 25px;
  }

  .blog-article-subheading {
    font-size: 20px;
    line-height: 25px;
  }

  .blog-article-image {
    margin-bottom: 20px;
  }

  .problem-process-services {
    padding-left: 0;
    padding-right: 0;
  }

  .our-testimonials-container {
    padding: 20px 10px;
  }

  .div-block-4 {
    margin: 20px 10px;
  }

  .logo-dark {
    height: 20px;
  }

  .principle-description-p {
    font-size: 20px;
    line-height: 25px;
  }

  .blog-home-thumbnail {
    height: 200px;
    padding: 0;
  }

  .blog-home-item {
    margin-left: 0;
    margin-right: 0;
  }

  .blog-home-title, .blog-home-teaser {
    margin-left: 10px;
    margin-right: 10px;
  }

  .our-container-principles {
    margin-top: 0;
    padding: 20px 10px;
  }

  .blog-article-image-credits {
    margin-top: -20px;
    font-size: 16px;
    line-height: 20px;
  }

  .blog-article-list-item {
    font-size: 18px;
    line-height: 25px;
  }

  .back-to-label {
    display: none;
  }

  .blog-p-quote {
    padding-left: 10px;
    font-size: 18px;
    line-height: 25px;
  }

  .heading-light {
    font-size: 40px;
    line-height: 45px;
  }

  .our-container-training {
    margin-top: 0;
    padding: 20px 10px;
  }

  .our-container-stages {
    margin-top: 0;
    padding: 20px 0 0;
  }
}

#w-node-_05ea04c9-e57a-9b31-9f33-7b0168cc9be5-6cf3e0b9 {
  justify-self: start;
}

#w-node-_13ab69f6-6c91-0441-0045-2bd6fcf28c18-6cf3e0b9 {
  grid-area: span 3 / span 1 / span 3 / span 1;
}

#w-node-ec122c4b-f037-67a9-1427-0e69c24fd1f3-6cf3e0b9 {
  grid-area: span 4 / span 1 / span 4 / span 1;
}

#w-node-_16a8a370-e867-65e2-3edb-c1874a9714f5-6cf3e0b9 {
  grid-area: span 3 / span 1 / span 3 / span 1;
}

#w-node-_0b9f5040-0c97-408a-ce86-e395cc5378aa-6cf3e0b9 {
  align-self: stretch;
  justify-self: stretch;
}


